<!DOCTYPE html>
<html>
<head>
    <title>Fuja!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>para onde voce quer vazar</h1>
    <div class="container">
        <form method="post">
            
            <label for="municipio_origem">Município de Origem:</label>
            <input type="text" id="input_municipio_origem" name="input_municipio_origem" list="datalist_municipios", value="São Paulo">
            <datalist id="datalist_municipios">
                {% for municipio in municipios_sudeste.municipio_x %}
                    <option value="{{ municipio }}"></option>
                {% endfor %}
            </datalist>
            <br><br>
            
            
            <label for="raio_km">Raio (em km):</label>
            <input type="text" id="raio_km" name="raio_km"><br><br>
    
            <label for="qtd_hab">Quantidade de Habitantes:</label>
            <input type="text" id="qtd_hab" name="qtd_hab"><br><br>
    
            <input type="submit" value="Gerar Mapa">
        </form>
        <div class="map-container">
        {% if map_html %}
            {{ map_html|safe }}
        {% endif %}
        </div>
    </div>
</body>
</html>
